<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <!-- favicon -->
        <link rel="icon" href="data:,">
        <link rel="stylesheet" type="text/css" href="C:\Users\Admin\OneDrive\Documents\python\my project-gauni\hackathon\static\css\hack.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/hack.css') }}">
        <style>
            body{
                background-color: rgb(244, 248, 248);
                font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
                font-size:20px;
                overflow-x: hidden;
            }
            /* navbar */
            
            .card{
                background-color:white;
                text-decoration:none;
                text-align:center;
                border:none;
                margin-top:20px;
                height:350px;
            }

            @media screen and (max-width: 500px) {
                .card-title {
                    font-size: 15px;
                }
                .card{
                    height:200px;
                }
                .how-it-works{
                    display:none;
                }
            }
            /* Gaunisha home page */
            .navbar{
                height:100px;
                font-size:20px;
            }

            .nav-link{
                margin-right: 20px;
            }
            /* brain image */
            .brain-image{
                display:inline;
                margin-left:80px;
                margin-top:auto;
                margin-right:25%;
            }
            /* your mind matters */
            .brain-text{
                color:rgb(82, 64, 64);
                margin-top:5%;
                font-size: 60px;
            }
            /* why choose us */
            .choose h3,p{
                color:rgb(82, 64, 64);
            }

            @media screen and (max-width: 1200px) {
                .brain-text {
                    font-size: 60px;
                    margin-left:40px;
                }
            }
            /* how can we help bar */
            .help{
                background-color:rgb(218, 211, 211);
                text-align:center;
                padding:10px;
            }
            /* Previous and next links in cards */
            .help a{
                color:rgb(82, 64, 64);
            }
            /* who needs consultations */
            .who-needs-consultation{
                background-color:rgb(218, 211, 211);
            }
            /* .footer */
            footer{
                background-color:rgb(94, 50, 50);
            }

        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand text-light" href="{{ url_for('User_home',userid=userid)}}"><strong>WE4YOU</strong></a>
            <h2 style="padding-left:200px; position:absolute; top:30px;color:whitesmoke;">Hi {{name}}!</h2>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse text-right text-light bg-dark" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-light" href="{{ url_for('User_home',userid=userid) }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('Booking_details',userid=userid) }}">Your Appointments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('Logout') }}">Logout</a>
                    </li>
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
        </nav>
        
        <div class="container-fluid-md" style="background-color: rgb(208, 212, 223);">
            <div class="row">
                <h2 class="brain-image image-fluid"><img src="https://i.pinimg.com/originals/d6/6d/4a/d66d4a738f4ec84b873a0c853abcdbe8.png" height="300px" width="300px"></h2>
                <h3 class="brain-text my-sm-auto    ">Your-Mind-Matters</h3>
                
            </div>
        </div>
        <!-- Why choose us? -->
        <!-- <div class="row p-3 m-auto text-center">
                <div class="col-md-4 text-center">
                    <h2><img src="https://i.pinimg.com/564x/77/ec/22/77ec22279b90e25735f5cd3428e23694.jpg" height="300px" width="300px"></h2>
                </div>
                <div class="col-md-8 text-center">
                    <h3>Why Choose Us?</h3>
                    <br>
                    <p class="text-center mr-auto ml-6">V4U. is a dedicated online mental<br> health & holistic wellbeing platform,<br> spreading awareness for overall development <br>of mental and physical wellbeing<br> through its wide range of services for users in India <br>and around the world.</p>
            
                </div>
        </div> -->
        
        <!-- are you a Front-line worker? -->
        <div class="row m-3">
            <div class="col-md-5 text-center">
                <h2><img src="https://media.istockphoto.com/vectors/thanks-to-the-front-line-workers-diverse-people-from-different-wear-vector-id1256751783?k=6&m=1256751783&s=612x612&w=0&h=C-6_ZJNWEiW3iaHUur-IPT6vbIwr6JPK8JaHbL6z5ZE=" height="250px" width="350px"></h2>
            </div>
            <div class="col-md-7 text-center">
                <h3>Are you a Front-Line worker?</h3>
                <p>We thank all the Front-Line workers working for our well-being. <br>We have a special treatment for you. <i>Thank you for your service.</i><br><h1><a href="{{ url_for('Frontline_workers',userid=userid) }}" class="text-success">TAKE ASSESSMENT</a></h1></p>
            </div>
        </div>

        <!-- we can help u with -->
        <div class="help container-fluid-sm">
            <h1> We can help u with</h1>
            <section class="pt-1 pb-1 ">
                <div class="container">
                    <div class="row">
                        <div class="col-6 text-left">
                            <a href="#carouselExampleIndicators2" role="button" data-slide="prev">
                                <i class="fas fa-angle-double-left"></i> Previous 
                            </a>
                        </div> 
                        <div class="col-6 text-right">
                            
                            <a href="#carouselExampleIndicators2" role="button" data-slide="next">
                                Next <i class="fas fa-angle-double-right"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row">
                
                                            <div class="col-3 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://i.pinimg.com/564x/6a/b3/0e/6ab30e02fa959b87ddbb1813c23c5bb8.jpg" >
                                                    <div class="card-body">
                                                        <h4 class="card-title"><a href="{{ url_for('Depression',userid=userid) }}" class="text-dark">Depression</a></h4>
                                                        
                                                    </div>
              
                                                </div>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://i.pinimg.com/564x/19/2e/e7/192ee7f191f1825effc1bd477d4d28c2.jpg"  >
                                                    <div class="card-body ">
                                                        <h4 class="card-title"><a href="{{ url_for('Stress',userid=userid) }}" class="text-dark">Stress</a></h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://img.freepik.com/free-vector/obsessive-compulsive-disorder-concept-illustration_114360-3562.jpg?size=338&ext=jpg">
                                                    <div class="card-body ">
                                                        <h4 class="card-title"><a href="{{ url_for('Ocd',userid=userid) }}" class="text-dark">OCD</a></h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://t4.ftcdn.net/jpg/02/22/96/91/360_F_222969131_YlPqcfmyJAQgg5qbYIFMgpOsGnGMMYQl.jpg">
                                                    <div class="card-body">
                                                        <h4 class="card-title"><a href="{{ url_for('Bipolar_disorder',userid=userid) }}" class="text-dark">BiPolar Disorder</a></h4>
                                                    </div>
                                                </div>
                                            </div>
              
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                
                                            <div class="col-3 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://graphicriver.img.customer.envatousercontent.com/files/314452098/preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&w=590&h=590&s=9e2003b5df5a29218be6a2958a3fafa0">
                                                    <div class="card-body">
                                                        <h4 class="card-title"><a href="{{ url_for('Anxiety',userid=userid) }}" class="text-dark">Anxiety</a></h4>
                                                        
                                                    </div>
                
                                                </div>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://media.istockphoto.com/vectors/print-vector-id1128971553?k=6&m=1128971553&s=612x612&w=0&h=rCj2QhTNgnm13v9sRKOi9gJejm-jckn7tg5fRoJPGoM=">
                                                    <div class="card-body">
                                                        <h4 class="card-title"><a href="{{ url_for('Relationship',userid=userid) }}" class="text-dark">Relationship</a></h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://thumbs.dreamstime.com/b/young-woman-suffer-insomnia-sleepy-lady-can-not-sleep-mental-problems-female-try-to-sleep-pillow-under-197764423.jpg">
                                                    <div class="card-body">
                                                        <h4 class="card-title"><a href="{{ url_for('Sleep',userid=userid) }}" class="text-dark">Sleep</a></h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://media.istockphoto.com/vectors/young-africanamerican-woman-using-a-smartphone-with-many-social-media-vector-id970942892?b=1&k=6&m=970942892&s=612x612&w=0&h=v2Beqs-LfkHfpdwzX661g2F7FvMBKURHfND2BaYULLg=">
                                                    <div class="card-body">
                                                        <h4 class="card-title"><a href="{{ url_for('Addiction',userid=userid) }}" class="text-dark">Addiction</a></h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>
              
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                
                                            <div class="col-3 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://thumbs.dreamstime.com/b/vector-cartoon-illustration-weeping-woman-emotions-grief-crying-girl-close-her-eyes-her-hands-weeping-woman-emotions-grief-132926178.jpg">
                                                    <div class="card-body">
                                                        <h4 class="card-title"><a href="{{ url_for('Grief_and_loss',userid=userid) }}" class="text-dark">Grief and Loss</a></h4>
                                                    </div>
                
                                                </div>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://previews.123rf.com/images/iconicbestiary/iconicbestiary1612/iconicbestiary161200126/67653072-broken-businessman-talking-to-psychologist-psychotherapy-counseling-business-man-dealing-with-stress.jpg">
                                                    <div class="card-body">
                                                        <h4 class="card-title"><a href="#" class="text-dark">Individual counselling</a></h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://previews.123rf.com/images/topvectors/topvectors1710/topvectors171000450/87668867-unhappy-family-couple-characters-talking-to-female-psychologist-about-their-problems-psychotherapy-c.jpg">
                                                    <div class="card-body">
                                                        <h4 class="card-title"><a href="#" class="text-dark">Couples Therapy</a></h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://stories.freepiklabs.com/storage/13012/mental-health-amico-2995.png">
                                                    <div class="card-body">
                                                        <h4 class="card-title"><a href="#" class="text-dark">Psychiatry</a></h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- How it works -->
        <div class="row m-3 how-it-works">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <h2>How it works?</h2> 
            </div>
        </div>   
        <div class="row how-it-works">   
            <div class="col-2"></div>
                <div class="col-md-8 text-center">
                    <h1 class="text-warning display-4 p-3" style="display:inline">Search<span>&nbsp;&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i></span></h1>
                    <h1 class="text-info display-4  p-3" style="display:inline">Select<span>&nbsp;&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i></span></h1>
                    <h1 class="text-success display-4 p-3" style="display:inline">Start<span>&nbsp;&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i></span></h1>
                    <br>
                    <h5 class="text-warning p-3" style="display:inline ">Search Therpists</h5>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <h5 class="text-info p-3" style="display:inline">Select mode of Therapy</h5>&emsp;&emsp;&emsp;&emsp;&emsp;
                    <h5 class="text-success p-3" style="display:inline">Start Therapy</h5>
                </div>
            </div>
        </div>
        <div class="row ml-3">
            <div class="container-fluid text-center bg-dark my-3">
                <h1 class="text-light my-auto"><a href="{{ url_for('Self_assess',userid=userid) }}" class="text-light">SELF ASSESSMENT</a></h1>
            </div>
        </div>

        <!-- Who needs consultation? -->
        <div class="row m-3" id="about">
            <div class="col-md-5 text-center">
                <h2><img src="https://image.freepik.com/free-vector/psychiatrist-counseling-faceless-patients_74855-5568.jpg" height="350px" width="450px"></h2>
            </div>  
            <div class="col-sm-7 p-3">
                <h3>Who needs consultations?</h3>
                <p>Its ok, to not feel ok! It definitely takes courage to speak out,<br>
                    and this courage might be needed and required for any individual, <br>
                    irrespective of the age, gender, profession, culture etc. Counselling <br>
                    helps oneself to find solutions to inner questions and attain growth in life.<br>
                    Counselling could help someone who is struggling to gain confidence for <br>
                    Self-Improvement, hoping to nurture their relationship, trying to strike <br>
                    work-life balance, struggling to parent their adolescent, trying to find some<br>
                    sound sleep, and many more.</p>
            </div> 
        </div>

        <!-- How does consultation help? -->
        <div class="row m-3">
            <div class="col-md-7 mt-3">
                <br>
                <br>
                <h2>How Consultation helps?</h2>
                <p>"Counselling" or "Therapy" acts as a mode of expressing your emotions,<br>
                    thoughts, feelings, inhibitions and seeking guidance from trained experts<br>
                    for attaining better mental wellness. Counselling could help you self-introspect,<br>
                    nurture relationships, attain work-life balance, gain confidence and moreover <br>
                    achieve a holistic wellbeing. One could seek counselling to tackle Anxiety,<br>
                    Depression, Stress, help on Relationship building, balancing Work-Life, overcoming<br>
                    Phobias, learning Parenting skills or dealing with Adolescents, managing Anger Issues
                    and work on one's Self-Improvement etc.
                </p>
            </div>
            <div class="col-sm-5 text-center">
                <h3><img src="https://stories.freepiklabs.com/storage/13012/mental-health-amico-2995.png" height="400px" width="450px" style="padding:20px;margin-top:40px;"></h3>
            </div>
        </div>

        <footer class="pt-3 text-light" id="contact">
            <div class="row m-3">
                <div class="col-sm-3">
                    <h4>Navigation</h4>
                    <h4>_____</h4>
                    <a href="{{ url_for('User_home',userid=userid) }}" class="text-light">Home</a><br>
                    <a href="#" class="text-light">About</a><br>
                    <a href="#" class="text-light">Contact</a><br>
                    <a href="#" class="text-light">Report a problem</a><br>
                    <br> 
                    <h4>Counselling for Anxiety & Depression</h4>
                    <h4>_____</h4>
                    <a href="#" class="text-light">Online counselling for Social Anxiety</a><br>
                    <a href="#" class="text-light">Online counselling for Sleep Problems</a><br>
                    <a href="#" class="text-light">Online counselling for Stress</a><br>
                    <a href="#" class="text-light">Online counselling for Depression</a><br>
                </div>
                <div class="col-sm-3">
                    <h4>Counselling for Relationships</h4>
                    <h4>_____</h4>
                    <a href="#" class="text-light">Online counselling for Couples</a><br>
                    <a href="#" class="text-light">Online counselling for Marriage</a><br>
                    
                </div>
                <br>
                <br>
                <div class="col-sm-3">
                    <h4>Counselling for Parents & Children</h4>
                    <h4>_____</h4>
                    <a href="#" class="text-light">Online counselling for Parenting Skills</a><br>
                    <a href="#" class="text-light">Online counselling for Child and<br> Adolescent issues</a><br>
                    <a href="#" class="text-light">Online counselling for Autism</a><br>
                    
                </div>
                <div class="col-sm-3">
                    <h4>Counselling for WorkPlace</h4>
                    <h4>_____</h4>
                    <a href="#" class="text-light">Online counselling for Workplace Stress</a><br>
                    <a href="#" class="text-light">Online counselling for Self Improvement</a><br>
                    <a href="#" class="text-light">Online counselling for Stress</a><br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h3>Stay connect with us</h3>
                    <br>
                    <h1><i class="fab fa-facebook text-white"></i>&emsp;&emsp;&emsp;&emsp;<i class="fab fa-linkedin-in text-white"></i>&emsp;&emsp;&emsp;&emsp;<i class="fab fa-twitter text-white"></i>&emsp;&emsp;&emsp;&emsp;<i class="fab fa-instagram text-white"></i></h1>
                    <br>
                    <br>
                    <p class="text-white">&COPY;All rights reserved - WE4YOU.</p>
                </div>
            </div>
        </footer>
    </body>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
    <!-- plugin for jquery validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"> </script>
    
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- link for jquery validation -->
    <script src = "{{('/static/jquery/val.js')}}"> </script>
</html>

