<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <!-- favicon -->
        <link rel="icon" href="data:,">
        <link rel="stylesheet" type="text/css" href="C:\Users\Admin\OneDrive\Documents\python\my project-gauni\hackathon\static\css\hack.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/hack.css') }}">
    </head>
    <style>
         body{
                background-color: rgb(244, 248, 248);
                font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
                font-size:20px;
                overflow-x: hidden;
            }
            /* navbar */
            
            .card{
                background-color:white;
                text-decoration:none;
                text-align:center;
                border:none;
                margin-top:20px;
                height:350px;
            }
            
            .card{
                background-color:white;
                text-decoration:none;
                text-align:center;
                border:none;
                margin-top:20px;
                height:350px;
            }
            .category{
                background-color:rgb(218, 211, 211);
                text-align:center;
            }

            @media screen and (max-width: 500px) {
                .card-title {
                    font-size: 15px;
                }
                .card{
                    height:200px;
                }
            }

            @media screen and (max-width: 800px) {
                .card-title {
                    font-size: 15px;
                }
                .card{
                    height:250px;
                }
            }

            .navbar{
                height:100px;
                font-size:20px;
            }
    
            .nav-link{
                margin-right: 20px;
            }
    </style>
    <body>
        <!-- Nav bar at top and site name -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand text-light" href="{{ url_for('User_home',userid=userid)}}"><strong>WE4YOU</strong></a>
            <h2 style="padding-left:200px; position:absolute; top:30px;color:whitesmoke;">Hi {{name}}!</h2>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse text-right text-light bg-dark" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-light" href="{{ url_for('User_home',userid=userid) }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('User_home',userid=userid) }}#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('User_home',userid=userid) }}#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('Booking_details',userid=userid) }}">Your Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('Logout') }}">Logout</a>
                    </li>
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
        </nav>
        <div class="container-fluid-sm text-center" style="margin: 3%;" >
            <h1 class="text-dark">Which category would you like to take a test on?</h1>
        </div>
        <div class="category col-12 m-3">
            
            <div class=" container-sm">
                <div class="row">
                    
                    <div class="col-3 mb-3 text-center">
                        <div class="card">
                            <img class="img-fluid" alt="100%x280" src="https://i.pinimg.com/564x/6a/b3/0e/6ab30e02fa959b87ddbb1813c23c5bb8.jpg" >
                            <div class="card-body">
                                <h4 class="card-title"><a href="{{ url_for('Depression',userid=userid) }}" class="text-dark">Depression</a></h4>
                                
                            </div>
    
                        </div>
                    </div>
                    <div class="col-3 mb-3">
                        <div class="card">
                            <img class="img-fluid" alt="100%x280" src="https://i.pinimg.com/564x/19/2e/e7/192ee7f191f1825effc1bd477d4d28c2.jpg"  >
                            <div class="card-body ">
                                <h4 class="card-title"><a href="{{ url_for('Stress',userid=userid) }}" class="text-dark">Stress</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mb-3">
                        <div class="card">
                            <img class="img-fluid" alt="100%x280" src="https://img.freepik.com/free-vector/obsessive-compulsive-disorder-concept-illustration_114360-3562.jpg?size=338&ext=jpg">
                            <div class="card-body ">
                                <h4 class="card-title"><a href="{{ url_for('Ocd',userid=userid) }}" class="text-dark">OCD</a></h4>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mb-3">
                        <div class="card">
                            <img class="img-fluid" alt="100%x280" src="https://t4.ftcdn.net/jpg/02/22/96/91/360_F_222969131_YlPqcfmyJAQgg5qbYIFMgpOsGnGMMYQl.jpg">
                            <div class="card-body">
                                <h4 class="card-title"><a href="{{ url_for('Bipolar_disorder',userid=userid) }}" class="text-dark">BiPolar Disorder</a></h4>
                            </div>
                        </div>
                    </div>
    
                </div>
                <div class="row">
                    
                    <div class="col-3 mb-3">
                        <div class="card">
                            <img class="img-fluid" alt="100%x280" src="https://graphicriver.img.customer.envatousercontent.com/files/314452098/preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&w=590&h=590&s=9e2003b5df5a29218be6a2958a3fafa0">
                            <div class="card-body">
                                <h4 class="card-title"><a href="{{ url_for('Anxiety',userid=userid) }}" class="text-dark">Anxiety</a></h4>
                                
                            </div>
    
                        </div>
                    </div>
                    <div class="col-3 mb-3">
                        <div class="card">
                            <img class="img-fluid" alt="100%x280" src="https://media.istockphoto.com/vectors/print-vector-id1128971553?k=6&m=1128971553&s=612x612&w=0&h=rCj2QhTNgnm13v9sRKOi9gJejm-jckn7tg5fRoJPGoM=">
                            <div class="card-body">
                                <h4 class="card-title"><a href="{{ url_for('Relationship',userid=userid) }}" class="text-dark">Relationship</a></h4>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mb-3">
                        <div class="card">
                            <img class="img-fluid" alt="100%x280" src="https://thumbs.dreamstime.com/b/young-woman-suffer-insomnia-sleepy-lady-can-not-sleep-mental-problems-female-try-to-sleep-pillow-under-197764423.jpg">
                            <div class="card-body">
                                <h4 class="card-title"><a href="{{ url_for('Sleep',userid=userid) }}" class="text-dark">Sleep</a></h4>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mb-3">
                        <div class="card">
                            <img class="img-fluid" alt="100%x280" src="https://media.istockphoto.com/vectors/young-africanamerican-woman-using-a-smartphone-with-many-social-media-vector-id970942892?b=1&k=6&m=970942892&s=612x612&w=0&h=v2Beqs-LfkHfpdwzX661g2F7FvMBKURHfND2BaYULLg=">
                            <div class="card-body">
                                <h4 class="card-title"><a href="{{ url_for('Addiction',userid=userid) }}" class="text-dark">Addiction</a></h4>
                                
                            </div>
                        </div>
                    </div>
    
                </div>
                <div class="row" >
                    
                    <div class="col-3 mb-3" >
                        <div class="card">
                            <img class="img-fluid" alt="100%x280" src="https://thumbs.dreamstime.com/b/vector-cartoon-illustration-weeping-woman-emotions-grief-crying-girl-close-her-eyes-her-hands-weeping-woman-emotions-grief-132926178.jpg">
                            <div class="card-body">
                                <h4 class="card-title"><a href="{{ url_for('Grief_and_loss',userid=userid) }}" class="text-dark">Grief and Loss</a></h4>
                            </div>
    
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
 
    </body>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
    <!-- plugin for jquery validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"> </script>
    
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
 
    <!-- link for jquery validation -->
    <!-- <script src = "{{('/static/jquery/val.js')}}"> </script> -->
</html>
